
.jumbo-home{
    background-color: #fff;
    text-align: center;
    color: #0D9EA4;
    margin: 0;
    margin: 0;
}

.logo-home{
    height: 100px;
    width: 100px;
}

.content-h3-home{
    color: #0D9EA4; 
    font-size: 6rem;
}


.extra{
    color: #a6b4b4;
    font-size: 2rem;
}

.content .para{
    font-size: 1.7rem;
}

img {
    width: 100%;
    height: auto;
}

.home-image-5{
    height: 350px;
    width: 350px;
}

.sub-sub-para{
    color: #a6b4b4;
}
