


.Login {
  display: inline-block;
  margin:4% 5% 6% 50%;
 
  min-width:480px;
  padding: 48px 40px 36px;
  height: auto;
  min-height: 500px;

  border: 1px solid #dadce0;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgb(0 0 0 / 10%);
}

.butto{
  margin:6px 2px;
}

.LoginDiv{
  box-shadow: 0 0 2px #495867;
  padding: 5%;
  width: 100%;
  background-color: #F7F7FF;
  opacity: 0.90;
  color: #265279;
  margin-top: 5%; 
  border-radius: 10px;
  
  background-image: url('../../images/Caraousel/Caraousel-Image-last.jpg');
}

.Otheroption{
  box-shadow: 0 0 2px #495867;
  padding: 5%;
  width: 100%;
  margin-top: 5%;
  background-color: #F7F7FF;
  color: #265279;
  opacity: 0.90;
  border-radius: 10px;
  
  background-image: url('../../images/Caraousel/Caraousel-Image-last.jpg');
}

.LoginCorousel{
  height: 400px;
  background-size:cover;
  overflow:hidden;
  box-shadow: 0 0 25px white;
  border-radius: 50px;
}

.LoginCorouselDiv{
  width: 90%;
  margin: 5% 10% 5% 10%;
}