.about h1{
    vertical-align: 'inherit'; 
    color: #0D9EA4;
    font-size: 60px;
    font-family: Philosopher;
}

.about p {
    vertical-align: 'inherit';
    color:  #6D6766;
     font-size: 1.7rem;
    padding-top: 8px;

}
.about h2{
    vertical-align: inherit; 
    color: #0D9EA4;
     font-size: 46px;
     font-family: Philosopher;
     padding-top: 10px;
}

hr {
    width:70%;
}

.image1 {
    padding-top: 5px;
    width:25%;
    height:25%;
}

.vis-mis h2 {
    font-size: 40px;
    font-family: Philosopher;
}
.vis-mis p {
    font-size: 18px;
    font-family: Philosopher;
}

.picture {
   
    width: 96%;
    
}

.brmedium {
    display: block;
    margin-bottom: 5em;
}

.one {
    margin-left: 10px;
}

.name-text {
    font-size: 20px;
}

.role-text {
    font-size: 18px;
}

.faqq {
    background-color: #E0EEFF;
  }
  .ccontainer body {
      background-color: #FFF8F2;
      color: #373539;
      font-family: Philosopher;
    }
    
    .ccontainer {
     padding-left: 160px;
     padding-right: 200px;
     padding-top: 20px;
    }
    
    .faq-drawer {
      margin-bottom: 30px;
    }
    
    .faq-drawer__content-wrapper {
     
      font-size: 1.45em;
      line-height: 1.6em;
      max-height: 0px;
      overflow: hidden;
      transition: 0.27s ease;
      font-family: Philosopher;
    }
    
    .faq-drawer__title {
      border-top: #CCD0D5 1px solid;
      cursor: pointer;
      display: block;
      font-size: 1.55em;
      font-weight: 500;
      padding: 30px 0 0 0;
      position: relative;
      margin-bottom: 0;
      transition: all 0.25s ease-out;
      font-family: Philosopher;
    }
    
    .faq-drawer__title::after {
      border-style: solid;
      border-width: 1px 1px 0 0;
      content: " ";
      display: inline-block;
      float: right;
      height: 10px;
      left: 2px;
      position: relative;
      right: 20px;
      top: 2px;
      transform: rotate(135deg);
      transition: 0.35s ease-in-out;
      vertical-align: top;
      width: 10px;
    }
    
    /* OPTIONAL HOVER STATE */
    .faq-drawer__title:hover { 
      color: #4E4B52  ;
    }
    
    .faq-drawer__trigger:checked
      + .faq-drawer__title
      + .faq-drawer__content-wrapper {
      max-height: 350px;
    }
    
    .faq-drawer__trigger:checked + .faq-drawer__title::after {
      transform: rotate(-45deg);
      transition: 0.25s ease-in-out;
    }
    
    input[type="checkbox"] {
      display: none;
    }
    
    @media only screen and (max-width: 600px) {
      .ccontainer {
        padding: 80px;
      }
    }
    