.blogpage{
    align-items: center;
    background-color: #fff;
}

/*---------------------------------------*/

.blog-title-main{
    text-align: center;
    align-items: center;
    /*background-color: #DAF1F0;*/
    background-color: #DAF1F0;
}

.blog-title{
    padding-left: 50px;
    font-weight: 700;
    color: rgb(17, 179, 179);
}

.streak-img{
    height: 40px;
    width: 60px;
    margin-bottom: 90px;
    margin-left: -15px;
}

.blog-title-byline{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(74, 78, 78);
}

.blog-title-byline-by{
    font-size: 1.1rem;
    color: rgb(74, 78, 78);
}

/*-------------------------------------------*/

.blog-posts{
    padding-top: 25px;
}

/* -----------hr line------------------ */
.hr-line{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid rgb(19, 101, 105); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 .hr-line-content { 
     background:#fff; 
     padding:5px 15px; 
     font-size: 1.8rem;
     letter-spacing: 3px;
     color: #4cd8d1;
 }

 /*---------------------------------------*/

 .article-card{
    border-radius: 20px;    
}

.article-card:hover{
    box-shadow: 6px 6px 2px 1px rgba(15, 143, 150, 0.2);
    cursor: pointer;
}

.article-card-image{
    margin: 10px;
    height: 80px;
    width: 80px;
}

.weight{
    font-weight: 500;
    font-size: 1.78rem;
}

.card-title-desc{
    color: #797e7e;
    font-size: 1.6rem;
}

.read-more-btn{
    font-size: 1.3rem;
}

/*----------------------------------------------*/

.right-col-card{
    margin-top: 20px;
    border: 2px solid rgba(15, 143, 150, 0.2);
    border-radius: 20px;
}

.card-title-right{
    font-size: 1.1rem;
    text-align: center;
}

.hr-right{
    background-color: rgba(15, 143, 150, 0.2);
}

/*------------------------------------------*/

.note-jumbo{
    background-color: #DAF1F0;
}

.note-card{
    border-radius: 20px;
}

.note-card:hover{
    box-shadow: 6px 6px 2px 1px rgba(15, 143, 150, 0.2);
    cursor: pointer;
}

.small-note-content{
    text-align: center;
}

.small-note-image{
    height: 50px;
    width: 50px;
}





/*------------------------------------------*/
/*responsive media queries*/
@media (max-width: 500px){
    .right-col{
        display: none;
    }
    .left-col{
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .streak-img{
        /*display: none;*/
        height: 30px;
        width: 40px;
    }
}

@media (max-width: 900px) {
    .article-card-image, .article-card-image-col{
        display: none;
    }
    .card-texts{
        margin-left: 30px;
    }
}

@media (max-width: 1200px) {
    
}