.main-navbar{
    background-color: #085053;
}



.navbar-brand-name{
    font-size: 25px;
    letter-spacing: 2px;
}

.navbar-brand-name span{
    color: #fff;
}

.navbar-nav-links{
    color: #fff;
}

/*.navbar-main-links:hover{
    border-bottom: 2px solid #fff;
    margin: 0;
    padding: 0;
}*/

/*---------------------------------------*/
.navbar-main-links {
    margin-bottom: 0px;
}

.navbar-nav-links {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.navbar-nav-links::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar-nav-links:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}

/*----------------------------------------------------*/

.logo-image{
    height: 45px;
    width: 45px;
}

.brand-span{
    justify-content: center;
}

.sign-in-btn{
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #fff;
    color: #fff;
}
