.main-navbar-hf{
    background-color: #085053;
    padding-bottom: -10px;
}



.navbar-brand-name-hf{
    font-size: 25px;
    letter-spacing: 2px;
}

.navbar-brand-name-hf span{
    color: #fff;
}

.navbar-nav-links-hf{
    color: #fff;
}

/*---------------------------------------*/
.navbar-main-links-hf {
    margin-bottom: 0px;
}

.navbar-nav-links-hf {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.navbar-nav-links-hf::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .3s;
}

.navbar-nav-links-hf:hover::after {
    width: 100%;
    /*transition: width .3s;*/
}

.nav-links-section-hf{
    float: right;
}

/*----------------------------------------------------*/

.logo-image-hf{
    height: 45px;
    width: 45px;
}

.brand-span-hf{
    margin-bottom: 20px;
}

.sign-in-btn-hf{
    border-radius: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border-color: #fff;
    color: #fff;
}
